.github/
.vscode/
.vscode-test-web/
build/
out/
src/
**/dev/
**/.gitignore
**/*.vsix
**/tsconfig.json
**/webpack.config.*
**/.eslintrc.*
**/*.src.svg
**/._*
**/._*/

node_modules/antlr4/
!node_modules/antlr4/package.json
!node_modules/antlr4/dist/antlr4.node.cjs
